<h1>My tasks</h1>

<ul>
<% @tasks.each do |task| %>
    <div class="tasklook">
      <% if task.completed == true %>
      <i class="fa fa-check-square-o" aria-hidden="true"></i>
      <% else %>
      <i class="fa fa-square-o" aria-hidden="true"></i>
      <% end %>
        <%= link_to task.title, task_path(task) %>
        <%= link_to ('<i class="fa fa-trash-o" aria-hidden="true"></i>').html_safe, task_path(task),
        method: :delete,
        data: { confirm: "Are you sure?" } %>
    </div>
  <% end %>
</ul>

<%= link_to ('<button type="button" class="btn btn-primary">Add task</button>').html_safe, tasks_new_path %>
